<!DOCTYPE html>
<html>
  <head>
    <title>Hola mundo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Datos personales </h1>
<ul>
  <li>Giovanni Andrés Rassmann Tasca</li>
  <li>C.I : 30463139</li>
  <li> Sección 2</li>
  <li> programación 2</li>
</ul>
  </body>
</html>
